:root {
  --primary-bg-color: linear-gradient(to bottom, #33ccff 0%, #333399 56%);;
  --mobile-view-bg-color: #002244;
  --primary-text-color: #fff;
  --secondary-bg-color: #f4f4f4;
  --button-bg-color: #f6de74;
  --button-hover-bg-color: #004494;
  --input-border-color: grey;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-bg-color);
}

header {
  background: linear-gradient(to top, #33ccff 0%, #333399 15%);
  color: var(--primary-text-color);
  padding: 20px 0;
}

.header-container {
  margin: 0 auto;
  display: flex;

  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 40px;
}

nav {
  display: flex;
  align-items: center;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 20px;
  font-weight: 900;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 1em;
}

nav ul li a:hover {
  text-decoration: underline;
}
.button {
  background: var(--button-bg-color);
  width: 80px;
  height: 50px;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
  scale: 0.8;
  margin-left: 8px;
}
.button::before {
  position: absolute;
  content: '';
  background-color: #000;
  width: 40px;
  height: 40px;
  border-radius: 200px;
  margin: 5px;
  transition: 0.3s ease-in-out;
}
input:checked + .button {
  background-color: rgb(131, 10, 10);
}
input:checked + .button::before {
  transform: translateX(27px);
  background-color: #fff;
}
#check {
  display: none;
}
.search-bar {
  display: flex;
}
li i {
  color: var(--primary-text-color);
}
.search-bar input[type="text"] {
  padding: 5px;
  margin-right: 15px;
  border: 2px solid #004494;
  border-radius: 20px;
  width: 500px;
}

.search-bar button {
  padding: 5px 10px;
  background-color: var(--button-bg-color);
  color: #000;
  font-size: 24px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s ease;
  width: 50px;
}

.search-bar button:hover,
.search-bar button:active,
.search-bar button:focus {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0, 5);
  -webkit-transform: scale(1.1);
  transform: scale(1.3);
}

.title {
  margin: 0;
  font-size: 60px;
  font-weight: 900;
  font-family: "Goudy Bookletter 1911", serif;
  font-style: normal;
  color: var(--primary-text-color);
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

button {
  padding: 10px 20px;
  background-color: thistle;
  color: var(--primary-text-color);
  border-radius: 8px;
  cursor: pointer;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border-radius: 8px;
  border: 2px solid var(--input-border-color);
}

img {
  width: 200px;
  height: 292px;
  border-radius: 12px;
}
li img {
  width: 200px;
  height: 292px;
  border-radius: 12px;
}

#writeReview {
  width: 140px;
  border: 1px solid white;
}

.book-list {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--primary-text-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.review-section {
  max-width: 155px;
  padding: 3%;
  background-color: var(--primary-text-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.bookSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: var(--primary-bg-color);
}

.bookSection2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px;
  padding: 10px;
}

.bookList {
  list-style-type: none;
  padding: 2%;
}
.booklist, img {
  transition: 0.5s ease
}
.booklist, img:hover,
.booklist, img:active,
.booklist, img:focus {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0, 5);
  -webkit-transform: scale(1.1);
  transform: scale(1.2); 
}
.booklist, button:hover,
.booklist, button:active,
.booklist, button:focus {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0, 5);
  -webkit-transform: scale(1.1);
  transform: scale(1.2); 
}
.book-author {
  font-size: 1em;
  opacity: 50%;
}

.hidden {
  display: none;
}
.remove-button {
  background-color: var(--mobile-view-bg-color);
}
.li-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#favorites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.fav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fav h1 {
  color: var(--primary-text-color);
  font-family: cursive;
}
.favorites-container {
  background: linear-gradient(to bottom, #33ccff 0%, #333399 46%);
  display: flex;
  flex-direction: column;
}

footer {
  color: #fff;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  background-color: #333399;
  border-top: 0.8px solid var(--input-border-color);
}

.footer-container {
  display: flex;
  flex-direction: row;
  padding: 20px 70px 20px 40px;
  align-items: flex-start;
  justify-content: space-evenly;
}

.footer-section {
  flex: 1;
  margin: 8px ;
  max-width: 400px;
  text-align: center;
}
#footer-section-two {
  margin-left: 50px;
}

.footer-section h3 {
  font-weight: 900;
  font-size: 22px;
  color: var(--primary-text-color);
  font-family: "Goudy Bookletter 1911", serif;
  font-style: normal;
  margin-top: 6px;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 5px 30px;
  color: var(--primary-text-color);
}
.footer-section a {
  color: inherit;
}

.footer-section ul {
  list-style-type: none;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 0.8px solid var(--input-border-color);
}

.footer-bottom p {
  margin: 0;
}
.bookList button {
  background-color: var(--mobile-view-bg-color);
  color: white;
  border: 2px solid #333399;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
  border-radius: 9px;
  padding: 10px 10px;
  margin-top: 15px;
  transition: 0.5s ease;
}

.foundBooksText button {
  background-color: var(--mobile-view-bg-color);
  color: white;
  border: 1px solid var(--primary-text-color);
  border-radius: 9px;
  font-size: 0.8em;
  padding: 10px 10px;
  margin-bottom: 3%;
}
p {
  color: var(--primary-text-color);
}
#addReview,
.deleteReview {
  background-color: var(--mobile-view-bg-color);
  color: white;
  border: 1px solid var(--primary-text-color);
}
#reviewField {
  border: 1px solid var(--mobile-view-bg-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  margin-left: 2%;
  margin-bottom: 2%;
}
input[type="text"]:focus {
  border: 1px solid var(--mobile-view-bg-color);
}
.foundBooksText {
  margin-left: 2%;
}
.foundBooksImg {
  width: 200px;
  height: 292px;
  border-radius: 12px;
  margin: 2% 0 0 2%;
}
.deleteSection {
  padding: 0 0 2% 2%;
}


@media only screen and (max-width: 1000px) {
  .search-bar input[type="text"] {
    width: 400px;
  }
  .book-author {
    font-size: 0.6em;
  }
  .footer-section p,
  .footer-section ul {
    font-size: 0.8em;
    padding: 0;
  }
  #footer-section-two {
    display: none;
  }
}
@media only screen and (max-width: 890px) {
  .search-bar input[type="text"] {
    width: 300px;
  }
  .title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 702px) {
  .search-bar input[type="text"] {
    width: 200px;
  }
  .title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 562px) {
  .search-bar input[type="text"] {
    width: 150px;
    height: 40px;
    margin-top: 5px;
    margin-right: 0;
  }
  .search-bar button {
    scale: 0.8;
    margin-right: 0;
  }
  .button {
    scale: 0.7;
    margin-left: 0;
  }
  .title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 445px) {
    .search-bar input[type="text"] {
      width: 120px;
      height: 30px;
      margin-top: 10px;
      margin-right: 0;
    }
    .search-bar button {
      scale: 0.7;
    }
    .button {
      scale: 0.6;
      margin-left: 0;
    }
    .title {
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 418px) {
      .search-bar input[type="text"] {
        width: 120px;
        height: 30px;
        margin-bottom: 7px;
        margin-right: 0;
      }
      .search-bar button {
        scale: 0.7;
      }
      .button {
        display: none;
      }
      .title {
        font-size: 20px;
      }
}
nav ul {
  align-items: center;
}

.bookSection,
.bookSection2,
#bookResults {
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to bottom, #33ccff 19%, #333399 89%);
}

img {
  width: 100%;
  height: auto;
}

#bookResults h1 {
  font-size: 1em;
  margin-bottom: 0;
}
#bookResults h2 {
  font-size: 0.7em;
  margin-top: 0;
}

.bookList button {
  background-color: var(--mobile-view-bg-color);
  color: white;
  border: 2px solid #333399;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
  border-radius: 9px;
  font-size: 0.8em;
  padding: 10px 10px;
  margin-top: 10px;
  transition: 0.5s ease;
}
.book-author {
  color: var(--primary-text-color);
  font-size: 1em;
  margin-top: 3px;
  font-weight: 600;
}
.book-title {
  color: var(--primary-text-color);
  font-size: 1.2em;
  margin-top: 15px;
  font-weight: 900;
}

@media only screen and (max-width: 500px) {
  .bookList {
    margin-bottom: 20px;
  }
  li img {
    width: 140px;
    height: 192px;
  }
  .book-title {
    font-size: 0.7em;
  }
  .book-author {
    font-size: 0.5em;
  }
  .bookList button {
    font-size: 0.5em;
  }
  #footer-section-two,
  #footer-section-three {
    display: none;
  }
  #addBookForm {
    width: 90%;
  }
  #addBookForm h2 {
    font-size: 1em;
  }
  #addBookForm form input,
  #addBookForm form textarea {
    padding: 3px;
    width: 90%;
    border: 1px solid var(--mobile-view-bg-color);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  #addBookForm form button {
    font-size: 0.6em;
  }
  .footer-container {
    padding: 20px 20px;
    flex-direction: column;
    align-items: center;
  }
  .footer-bottom p {
    font-size: 0.7em;
  }
  .footer-section h3 {
    margin-top: 0;
  }
}
#addBookForm {
  padding: 10px;
  box-shadow: 0 0 10px 5px var(--secondary-bg-color);
  text-align: center;
}

#addBookForm h2 {
  margin-bottom: 10px;
  font-family: "Goudy Bookletter 1911", serif;
  font-style: normal;
}

#addBookForm form label {
  display: block;
  text-align: center;
  padding-right: 10px;
  margin: 10px 5px 5px 5px;
}

#addBookForm form input,
#addBookForm form textarea {
  width: 80%;
  padding: 8px;
  margin-top: 5px;
}

#addBookForm form button {
  margin-top: 20px;
  background-color: var(--mobile-view-bg-color);
  color: white;
  margin-right: 10px;
  transition: 0.3s ease;
}
#addBookForm form button:hover,
#addBookForm form button:active,
#addBookForm form button:focus {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0, 5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.hamburger {
  display: none;
  cursor: pointer;
  scale: 1.3;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f6de74;
}
@media only screen and (max-width: 1500px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  nav {
   position: absolute;
   right: -150%;
}
}

#scrollToTopBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #555; 
  color: white; 
  cursor: pointer;
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#scrollToTopBtn:hover {
  background-color: #333; 
}