:root {
  --primary-bg-color: #333;
  --mobile-view-bg-color: #002244;
  --primary-text-color: #fff;
  --secondary-bg-color: #f4f4f4;
  --button-bg-color: pink;
  --button-hover-bg-color: #004494;
  --input-border-color: grey;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-bg-color);
}

header {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  padding: 20px 0;
}

.header-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 40px;
}

nav {
  display: flex;
  align-items: center;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 1em;
}

nav ul li a:hover {
  text-decoration: underline;
}
.search-bar {
  display: flex;
}

.search-bar input[type="text"] {
  padding: 5px;
  margin-right: 15px;
  border: 2px solid #004494;
  border-radius: 20px;
  width: 500px;
}

.search-bar button {
  padding: 5px 10px;
  background-color: var(--button-bg-color);
  color: var(--primary-text-color);
  font-size: 24px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}

.search-bar button:hover,
.search-bar button:active,
.search-bar button:focus {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0, 5);
  -webkit-transform: scale(1.1);
  transform: scale(1.3);
}

.title {
  margin: 0;
  font-size: 60px;
  font-weight: 900;
  font-family: cursive;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

button {
  padding: 10px 20px;
  background-color: thistle;
  color: var(--primary-text-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border-radius: 8px;
  border: 2px solid var(--input-border-color);
}

img {
  width: 200px;
  height: 292px;
  border-radius: 12px;
}
li img {
  width: 200px;
  height: 292px;
  border-radius: 12px;
}

#writeReview {
  width: 140px;
  border: 1px solid white;
}

.book-list {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--primary-text-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.review-section {
  max-width: 155px;
  padding: 3%;
  background-color: var(--primary-text-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.bookSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.bookSection2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px;
  padding: 10px;
}

.bookList {
  list-style-type: none;
  padding: 2%;
}

.book-author {
  font-size: 0.8em;
  opacity: 50%;
}

.hidden {
  display: none;
}
.remove-button {
  background-color: var(--mobile-view-bg-color);
}
.li-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#favorites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.fav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fav h1 {
  color: var(--primary-text-color);
  font-family: cursive;
}
.favorites-container {
  background: linear-gradient(to bottom, #33ccff 0%, #333399 46%);
  display: flex;
  flex-direction: column;
}

footer {
  color: #fff;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  background-color: #333399;
  border-top: 0.8px solid var(--input-border-color);
}

.footer-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 40px;
}

.footer-section {
  flex: 1;
  margin: 10px 30px;
  max-width: 400px;
  text-align: center;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 22px;
  color: rgb(175, 175, 175);
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 5px 40px;
  color: var(--primary-text-color);
}

.footer-section ul {
  list-style-type: none;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #444;
}

.footer-bottom p {
  margin: 0;
}
.bookList button {
  background-color: var(--mobile-view-bg-color);
  color: white;
  border: 1px solid var(--primary-text-color);
  border-radius: 9px;
  padding: 10px 10px;
  margin-top: 2%;
}

.foundBooksText button {
  background-color: var(--mobile-view-bg-color);
  color: white;
  border: 1px solid var(--primary-text-color);
  border-radius: 9px;
  font-size: 0.8em;
  padding: 10px 10px;
  margin-bottom: 3%;
}
p {
  color: var(--primary-text-color);
}
#addReview,
.deleteReview {
  background-color: var(--mobile-view-bg-color);
  color: white;
  border: 1px solid var(--primary-text-color);
}
#reviewField {
  border: 1px solid var(--mobile-view-bg-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  margin-left: 2%;
}
input[type="text"]:focus {
  border: 1px solid var(--mobile-view-bg-color);
}
.foundBooksText {
  margin-left: 2%;
}
.foundBooksImg {
  width: 200px;
  height: 292px;
  border-radius: 12px;
  margin: 2% 0 0 2%;
}
.deleteSection {
  padding: 0 0 2% 2%;
}
@media only screen and (max-width: 1226px) {
  nav {
    display: none;
  }
}

@media only screen and (max-width: 884px) {
  .search-bar input[type="text"] {
    width: 300px;
  }
}

nav ul {
  flex-direction: column;
  align-items: center;
}

nav ul li {
  margin: 10px 0;
}

.search-bar {
  flex-direction: column;
}

.search-bar input[type="text"],
.search-bar button {
  width: 100%;
  margin: 5px 0;
}

.bookSection,
.bookSection2,
#bookResults {
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to bottom, #33ccff 19%, #333399 89%);
}

.book-author {
  font-size: 0.6em;
  color: var(--primary-text-color);
  opacity: 50%;
}
img {
  width: 100%;
  height: auto;
}

#bookResults h1 {
  font-size: 1em;
  margin-bottom: 0;
}
#bookResults h2 {
  font-size: 0.7em;
  margin-top: 0;
}
.footer-container {
  flex-direction: column;
  align-items: center;
}
#footer-section-two,
#footer-section-three {
  display: none;
}
.footer-section {
  margin: 20px 0;
}
.bookList button {
  background-color: var(--mobile-view-bg-color);
  color: white;
  border: 1px solid var(--primary-text-color);
  border-radius: 9px;
  font-size: 0.8em;
  padding: 10px 10px;
  margin-top: 2%;
}
.book-author {
  color: var(--primary-text-color);
  font-size: 0.9em;
}
.book-title {
  color: var(--primary-text-color);
  font-size: 1.2em;
}

@media (max-width: 500px) {
  .bookList {
    margin-bottom: 20px;
  }
  li img {
    width: 140px;
    height: 192px;
  }
  .book-title {
    font-size: 0.7em;
  }
  .book-author {
    font-size: 0.5em;
  }
  .bookList button {
    font-size: 0.5em;
  }
}
#addBookForm {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

#addBookForm h2 {
  margin-bottom: 10px;
}

#addBookForm form label {
  display: block;
  margin-top: 10px;
}

#addBookForm form input,
#addBookForm form textarea {
  width: 80%;
  padding: 8px;
  margin-top: 5px;
}

#addBookForm form button {
  margin-top: 10px;
}
